<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功.</title>
</head>
<body>
<p>登录成功，正在跳转...</p>
<script type="text/javascript">

    var key="{{.key}}"
    var token="{{.token}}"
    var exdate=new Date({{.expired}}*1000)
    var domain="{{.domain}}"
    var value = key+"=" +escape(token)+ ";expires="+exdate.toGMTString()+";domain="+domain+";path=/";
    // console.log(value)
    document.cookie=value
    // 登录成功，自动跳转
    window.location.href = "{{.redirect}}"


</script>
</body>
</html>